
<%= error_messages_for 'customer' %>
<div class="box">
<p><%= l("field_family_name") %>:<%= form.text_field :family_name,
                       :size => 100, :required => true %></p>
<p><%= l("field_first_name") %>:<%= form.text_field :first_name,
                       :size => 100, :required => true %></p>
<p><%= l("field_address") %>:<%= form.text_field :address,
                       :size => 100, :required => true %></p>
<p><%= l("field_phone_number") %>:<%= form.text_field :phone_number,
                       :size => 100, :required => true %></p>
                       
</div>
