
<%= error_messages_for 'customer' %>
<div class="box">
<p>姓:<%= form.text_field :family_name,
                       :size => 100, :required => true %></p>
<p>名:<%= form.text_field :first_name,
                       :size => 100, :required => true %></p>
<p>住所:<%= form.text_field :address,
                       :size => 100, :required => true %></p>
<p>電話番号:<%= form.text_field :phone_number,
                       :size => 100, :required => true %></p>
                       
</div>
